@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 14pt;
  font-weight: 300;
  transition: 300ms ease-out;
  outline: none; }

h1,
span:not(.ib),
label,
a {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); }

html {
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  height: auto;
  min-height: 100vh; }
  html body {
    margin: 0px auto;
    width: 50rem; }
    @media screen and (max-width: 499px) {
      html body {
        width: 100%; } }
  html header {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 1.5em;
    border-radius: 1em;
    margin: 20px;
    border-left: 1px rgba(255, 255, 255, 0.3) solid;
    border-top: 1px rgba(255, 255, 255, 0.3) solid;
    box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); }
    html header h1 {
      opacity: 0.7;
      letter-spacing: 0.25em;
      font-weight: 200;
      color: #fff;
      font-size: 24pt; }
    @media screen and (max-width: 499px) {
      html header {
        margin: 5vw;
        font-size: 18pt; } }
  html section {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    padding: 30px;
    margin: 10px 80px;
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    border-left: 1px rgba(255, 255, 255, 0.3) solid;
    border-top: 1px rgba(255, 255, 255, 0.3) solid;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: inline-block; }
    @media screen and (max-width: 499px) {
      html section {
        margin: 5vw;
        padding: 5% 3%;
        width: auto; } }
    html section .btn {
      padding: 10px 3em;
      border-radius: 1em; }
    html section input,
    html section button {
      border: none;
      box-shadow: 4px 4px 30px rgba(50, 50, 50, 0.1);
      background-color: transparent;
      border-left: 1px rgba(255, 255, 255, 0.3) solid;
      border-top: 1px rgba(255, 255, 255, 0.3) solid;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 1em;
      color: #fff;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); }
      html section input:hover,
      html section button:hover {
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 4px 4px 30px 8px rgba(50, 50, 50, 0.2); }
      html section input .icon,
      html section button .icon {
        font-size: 0.8em; }
        html section input .icon.stop,
        html section button .icon.stop {
          display: none; }
      html section input:active,
      html section button:active {
        background: rgba(255, 255, 255, 0.3); }
    html section .honke {
      position: relative; }
      @media screen and (max-width: 499px) {
        html section .honke {
          margin: 7% 5%; } }
      html section .honke .check {
        display: none; }
      html section .honke .label {
        padding-left: 1.2em; }
        html section .honke .label::before {
          display: block;
          width: 15px;
          height: 15px;
          position: absolute;
          top: 7px;
          left: 0px;
          content: '';
          background: transparent;
          border-radius: 4px;
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          border-left: 1px rgba(255, 255, 255, 0.3) solid;
          border-top: 1px rgba(255, 255, 255, 0.3) solid;
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15); }
      html section .honke .check:checked + .label::after {
        content: '';
        display: block;
        position: absolute;
        width: 11px;
        height: 8px;
        top: 7px;
        left: 1px;
        border-bottom: 4px solid #ff9b23;
        border-left: 4px solid #ff9b23;
        transform: rotate(-45deg); }
      html section .honke .check:checked + .label::before {
        background: rgba(255, 255, 255, 0.2); }
      html section .honke:hover .label::before {
        box-shadow: 2px 2px 30px 8px rgba(0, 0, 0, 0.3); }
      html section .honke:hover .label {
        text-shadow: 2px 2px 30px 8px rgba(0, 0, 0, 0.3); }
    html section table {
      margin-top: 10px; }
      html section table td {
        padding: 10px; }
        @media screen and (max-width: 499px) {
          html section table td {
            padding: 3.5%; } }
      html section table span {
        opacity: 0.7;
        width: 2em; }
      html section table .range {
        appearance: none;
        -webkit-appearance: none;
        height: 8px;
        width: 13em;
        margin-left: 1em;
        margin-bottom: 10px;
        border-radius: 5px; }
        @media screen and (max-width: 499px) {
          html section table .range {
            width: 85%; } }
        html section table .range::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: none;
          background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
          border-left: 1px #FFBA8F solid;
          border-top: 1px #FFBA8F solid;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); }
      html section table .num {
        -webkit-appearance: none;
        border-radius: 1em;
        padding: 5px 0.5rem;
        width: 3em;
        margin-left: 0.7em; }
        html section table .num::-webkit-outer-spin-button, html section table .num::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0; }
    html section .lights {
      float: right;
      font-size: 0;
      margin-top: 20px; }
      html section .lights .light {
        transition: 70ms;
        margin-right: 20px;
        display: inline-block;
        width: 10px;
        height: 10px;
        box-shadow: 4px 4px 30px rgba(50, 50, 50, 0.1);
        background-color: transparent;
        border-left: 1px rgba(255, 255, 255, 0.3) solid;
        border-top: 1px rgba(255, 255, 255, 0.3) solid;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 50%; }
        html section .lights .light.on {
          background-color: rgba(255, 155, 35, 0.5);
          border-left: 1px rgba(191, 112, 100, 0.3) solid;
          border-top: 1px rgba(191, 112, 100, 0.3) solid;
          box-shadow: 4px 4px 30px 3px #fda085; }
          html section .lights .light.on.last {
            background-color: rgba(255, 10, 10, 0.3);
            border-left: 1px rgba(191, 112, 100, 0.3) solid;
            border-top: 1px rgba(191, 112, 100, 0.3) solid;
            box-shadow: 4px 4px 30px 3px #fda085; }
    html section .link {
      margin: 1.5em; }
  html .carrots .carrot {
    display: inline-block;
    position: absolute;
    background: rgba(255, 155, 35, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    transition: none; }
    html .carrots .carrot-1 {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      top: 3em;
      left: calc(50px + 50vw - 25rem);
      z-index: -1; }
    html .carrots .carrot-2 {
      border-radius: 10px;
      width: 120px;
      height: 120px;
      top: 1.5rem;
      left: calc(28rem + 50vw - 25rem); }
    html .carrots .carrot-3 {
      border-radius: 10px;
      width: 180px;
      height: 180px;
      top: 250px;
      left: calc(23rem + 50vw - 25rem);
      z-index: -1; }
    @media screen and (max-width: 499px) {
      html .carrots .carrot {
        z-index: -1; } }
  html .ib {
    display: inline-block;
    font-weight: inherit;
    font-size: inherit; }
  html .sp {
    display: none; }
    @media screen and (max-width: 499px) {
      html .sp {
        display: block; } }

/*# sourceMappingURL=style.css.map */
